.container {
	// position: relative;
	width: 100vw;
	// height: 100vh;
	height: calc(100vh - (env(safe-area-inset-bottom)));
	background-color: #eee;
	.bg_box {
		position: relative;
		width: 100%;
		height: 552rpx;
		background: linear-gradient(180deg, #888bf4 29%, #f5f7fb 100%);
		.bg_top {
			position: absolute;
			width: 503rpx;
			height: 702rpx;
			top: -180rpx;
			left: -150rpx;
		}
		.logo_text {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			font-size: 50rpx;
			color: #ffffff;
		}
		.logo_slogan {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 32rpx;
			.gf_logo {
				width: 26rpx;
				height: 30rpx;
			}
			.slogan {
				font-size: 28rpx;
				color: #ffffff;
				margin-left: 11rpx;
			}
		}
	}

	.user_container {
		// width: 700rpx;
		height: 356rpx;
		padding: 32rpx 30rpx;
		box-sizing: border-box;
		background: rgba(255, 255, 255, 0.6);
		backdrop-filter: blur(38.08rpx);
		border-radius: 16rpx;
		margin: -260rpx 18px 24rpx 18px;

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 50rpx;
		}

		.user_info {
			--td-cell-horizontal-padding: 0;
			--td-cell-vertical-padding: 0;
			--td-cell-bg-color: transparent;
			margin-bottom: 30rpx;
			.tag_box {
				position: relative;
				width: 140rpx;
				height: 42rpx;
				.tag_icon {
					width: 100%;
					height: 100%;
				}
				.tag_text {
					position: absolute;
					top: 48%;
					right: 20%;
					transform: translate(0%, -50%);
					font-size: 20rpx;
					font-weight: normal;
					color: #ffffff;
					// background-color: #5151c6;
				}
			}
		}
		.qr {
			padding: 8rpx;
		}

		.text {
			margin-top: 12rpx;
			font-size: 28rpx;
			text-align: center;
		}
		.menu_grid {
			--td-grid-bg-color: transparent;
			--td-grid-item-bg-color: transparent;
			--td-grid-item-padding: 0 !important;
			display: flex;
			justify-content: space-between;
			.text {
				font-size: 24rpx;
				color: #1c2023;
			}
			.item {
				width: 100rpx;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				text-align: center;
				.menu_grid_icon {
					width: 80rpx;
					height: 80rpx;
				}
			}
		}
	}

	.card-box {
		// margin-top: 24px;
		.left_icon {
			display: flex;
			align-items: center;
			width: 30rpx;
			height: 30rpx;
		}
		.left_center {
			display: flex;
			align-items: center;
		}
	}
	.device_bg {
		position: fixed;
		bottom: -82rpx;
		left: 210rpx;
		width: 792rpx;
		height: 1024rpx;
		// opacity: 0.5;
		opacity: 1;
	}
	.qr_userInfo {
		--td-cell-horizontal-padding: 0;
		--td-cell-vertical-padding: 0;

		.tag_icon {
			width: 140rpx;
			height: 42rpx;
		}
	}
	.dialog_content {
		position: relative;
	}
	.institution_box {
		border-radius: 10rpx;
		background: #f8f8fe;
		padding: 7rpx 20rpx;
		margin-top: 26rpx;
		.institution {
			font-size: 24rpx;
			font-weight: 400;
			color: #888bf4;
		}
	}
	.qr_image_box {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 80rpx 0 30rpx 0;
		.qr_image {
			width: 240px;
			height: 240px;
		}
	}

	.qr_code_text {
		font-size: 24rpx;
		font-weight: normal;
		text-align: center;
		color: #1c2023;
		text-align: center;
	}
	.save_invite {
		position: absolute;
		bottom: -112rpx + -32rpx;
		width: 100%;
		height: 112rpx;
		border-radius: 80rpx;
		font-size: 32rpx;
		font-weight: bold;
		line-height: 112rpx;
		text-align: center;
		color: #ffffff;
		background: linear-gradient(279deg, #888bf4 -1%, #5151c6 100%);
	}
}
