@import '../../static/style/qrStyle.scss';
.container {
	// position: relative;
	width: 100vw;
	// height: 100vh;
	height: calc(100vh - (env(safe-area-inset-bottom)));
	background-color: #eee;
	.bg_box {
		position: relative;
		width: 100%;
		height: 552rpx;
		background: linear-gradient(180deg, #FF8533 29%, #FAF8F8 100%);
		.bg_top {
			position: absolute;
			width: 503rpx;
			height: 702rpx;
			top: -180rpx;
			left: -150rpx;
		}
		.logo_text {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			font-family: AlibabaPuHuiTi3;
			font-size: 50rpx;
			color: #ffffff;
		}
		.logo_slogan {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 32rpx;
			.gf_logo {
				width: 38rpx;
				height: 30rpx;
			}
			.slogan {
				font-family: AlibabaPuHuiTi3;
				font-size: 28rpx;
				color: #ffffff;
				margin-left: 11rpx;
			}
		}
	}

	.user_container {
		// width: 700rpx;
		height: 356rpx;
		padding: 32rpx 30rpx;
		box-sizing: border-box;
		background: rgba(255, 255, 255, 0.6);
		backdrop-filter: blur(38.08rpx);
		border-radius: 16rpx;
		margin: -260rpx 18px 24rpx 18px;

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 50rpx;
		}

		.user_info {
			--td-cell-horizontal-padding: 0;
			--td-cell-vertical-padding: 0;
			--td-cell-bg-color: transparent;
			margin-bottom: 30rpx;
		}
		.qr {
			padding: 8rpx;
		}

		.text {
			margin-top: 12rpx;
			font-family: AlibabaPuHuiTi3;
			font-size: 28rpx;
			text-align: center;
		}
		.menu_grid {
			--td-grid-bg-color: transparent;
			--td-grid-item-bg-color: transparent;
			--td-grid-item-padding: 0 !important;
			display: flex;
			justify-content: space-between;
			.text {
				font-family: AlibabaPuHuiTi3;
				font-size: 24rpx;
				color: #1c2023;
			}
			.item {
				width: 100rpx;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				text-align: center;
				.menu_grid_icon {
					width: 80rpx;
					height: 80rpx;
				}
			}
		}
	}

	.card-box {
		// margin-top: 24px;
		.left_icon {
			display: flex;
			align-items: center;
			width: 30rpx;
			height: 30rpx;
		}
		.left_center {
			display: flex;
			align-items: center;
		}
	}
	.device_bg {
		pointer-events: none;
		position: fixed;
		bottom: -82rpx;
		left: 210rpx;
		width: 792rpx;
		height: 1024rpx;
		// opacity: 0.5;
		opacity: 1;
  }
  .copy{
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    font-size: 18rpx;
    color: #808080;
    left: 50%;
    transform: translate(-50%, 0);
    // margin-top: 50rpx;
  }
}
.action-btn {
	--td-button-primary-bg-color: #FF8533;
	--td-button-primary-border-color: #FF8533;
	--td-button-primary-active-bg-color: #FCD5C4a2;
	--td-button-primary-active-border-color: #FCD5C4a2;
	margin-bottom: 30rpx;
}
.cancel-btn {
	--td-button-primary-bg-color: #999999;
	--td-button-primary-border-color: #999999;
	--td-button-primary-active-bg-color: #f7f7f7;
	--td-button-primary-active-border-color: #f7f7f7;
	margin-bottom: 30rpx;
}
