.container {
	width: 100vw;
	// height: 100vh;
	height: calc(100vh - (env(safe-area-inset-bottom) + 48px));
	background-color: #eee;
	.beasun {
		display: flex;
		width: 100%;
		align-items: flex-end;

		.title {
			display: block;
			width: 234rpx;
			height: 22px;
			margin-left: 48rpx;
		}
	}
	.card-box {
		margin-top: 20px;
	}
	.errMsg{
		color: red !important;
	}
	.from-item {
		.content-title {
			display: block;
		}
		.item-input {
			padding: 0;
		}
		.content {
			display: block;
		}
	}
	.external-class {
    width: 100%;
		height: 210rpx;
    padding: 0;
	}
	.t-grid-item {
		width: 100% !important;
	}
	.footer {
		width: calc(100% - 60rpx - 60rpx);
		margin: 20rpx 30rpx;
		padding: 20rpx 30rpx;
		font-size: 25rpx;
		color: #999;
		border-radius: 12rpx;
		// text-indent: 18rpx;
		background-color: #ffffff;
	}
	.submit {
		width: calc(100% - 120rpx);
		height: 80rpx;
		margin: 0 auto;
		line-height: 80rpx;
		text-align: center;
		border-radius: 50rpx;
		border: none !important;
		color: #ffffff;
		background: #ff6601;
	}
	.clear{
		width: 100%;
		text-align: center;
		font-size: 26rpx;
		margin-top: 10rpx;
		color: #999;
	}
}
