.operation_container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - (env(safe-area-inset-bottom) + 48px));
  padding-bottom: 48px;
  background: linear-gradient(180deg, #888bf4 20%, #f5f7fb 40%, #f5f7fb 100%);

  .navBar {
    --td-navbar-bg-color: transparent;
    --td-navbar-color: #fff;
    --td-navbar-capsule-border-color: #e3e6ea !important;
    // color: transparent;
  }

  .nav_bg {
    position: absolute;
    width: 100%;
    height: 418rpx;
    z-index: 0;

    .bg_img {
      width: 100%;
      height: 100%;
    }
  }

  .menu_text {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50rpx;
    margin: 34rpx 30rpx 20rpx 0;
    font-size: 28rpx;
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
    color: #FFFFFF;
    z-index: 1;

    .icon {
      width: 30rpx;
      height: 30rpx;
      margin-right: 10rpx;
    }
  }

  .data_search {
    position: relative;
    width: calc(100% - 48rpx -40rpx);
    height: calc(280rpx - 40rpx);
    margin: 0 24rpx;
    margin-bottom: 24rpx;
    padding: 20rpx;
    border-radius: 20rpx;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

    .data_title {
      font-family: AlibabaPuHuiTi3;
      font-size: 32rpx;
      font-weight: 300;
      color: #888bf4;
      z-index: 0;
    }

    .date_interval {
      display: grid;
      grid-template-columns: 45% 10% 45%;
      margin-top: 20rpx;

      .interval_item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 30rpx;
        height: 72rpx;
        border-radius: 12rpx;
        background-color: #f5f7fb;

        .interval_info {
          font-size: 23rpx;
          font-weight: normal;
          color: #757575;
          margin-left: 20rpx;
        }
      }

      .in {
        text-align: center;
        font-family: AlibabaPuHuiTi3;
        font-size: 24rpx;
        font-weight: normal;
        line-height: 72rpx;
        color: #3d3d3d;
      }
    }

    .data_all {
      display: grid;
      grid-template-columns: 25% auto;
      gap: 20rpx;
      margin-top: 20rpx;

      .all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30rpx;

        .all_text {
          font-family: AlibabaPuHuiTi3;
          font-size: 23rpx;
          font-weight: normal;
          color: #757575;
        }
      }

      .all_item {
        height: 72rpx;
        border-radius: 12rpx;
        background-color: #f5f7fb;

        .item-input {
          height: 100%;
          padding: 0 16rpx;
          font-weight: normal;
          color: #c5c8cb;
          --td-input-bg-color: transparent;
          --td-input-placeholder-text-font-size: 24rpx;
        }

        .input_ftsize {
          font-family: AlibabaPuHuiTi3;
          font-size: 24rpx;
        }
      }
    }
  }

  .scroll-content {
    flex: 1;
    overflow: scroll;
  }

  .operation_info {
    width: calc(100% - 48rpx - 60rpx);
    margin: 0 24rpx 24rpx 24rpx;
    padding: 30rpx;
    border-radius: 20rpx;
    background-color: #ffffff;

    .tabs_box {
      --td-tab-nav-bg-color: rgba(255, 255, 255, 0.3);
      --td-tab-item-tag-bg: transparent;
      --td-tab-item-tag-active-bg: #888bf4;
      --td-tab-item-active-color: #ffffff;
      --td-tab-item-height: 80rpx;
      border: 1rpx solid #ecedfd;
      margin-bottom: 30rpx;
    }

    .item_style {
      --td-tab-item-color: #888bf4;
      font-family: AlibabaPuHuiTi3;
      font-size: 28rpx;
      font-weight: bold;
    }

    .active_style {
      background-color: #888bf4;
      font-family: AlibabaPuHuiTi3;
      font-size: 32rpx;
      font-weight: 300;
      color: #ffffff;
    }

    .list_item {
      margin-top: 30rpx;

      .list_item_info {
        font-family: AlibabaPuHuiTi3;
        font-size: 24rpx;
        background: linear-gradient(281deg, #888bf4 0%, #5151c6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
}

.table {
  width: 100%;
  overflow: hidden;
  border-radius: 16rpx;
  background-color: #ffffff;
  border: 1rpx solid #d1d2f9;

  .table-header {
    font-weight: bold;
    padding: 20rpx 0;
    font-family: AlibabaPuHuiTi3;
    font-size: 26rpx;
    font-weight: normal;
    color: #606972;
  }

  .table-row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20rpx 0;
    font-family: AlibabaPuHuiTi3;
    font-size: 24rpx;
    font-weight: 500;
    color: #1c2023;
  }

  // 使用缩放来实现0.5px的边框效果
  .table-row::before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%; // 跟随内容宽度
    left: 0;
    height: 1px;
    background-color: rgba(227, 228, 229, 1);
    transform: scaleY(0.5);
    transform-origin: bottom;
    flex-shrink: 0;
  }

  .table-row-big::before {
    width: 133% !important; // 跟随内容宽度
  }

  .cell-header {
    font-family: AlibabaPuHuiTi3;
    font-size: 26rpx;
    font-weight: normal;
    color: #606972;
  }

  .cell-content {
    font-family: AlibabaPuHuiTi3;
    font-size: 24rpx;
    font-weight: 500;
    color: #1c2023;
  }

  .table-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20rpx;
    min-width: 150rpx;
  }

  .textOverflow {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    text-align: center;
    display: block !important;
    max-width: 100%;
  }

  // .cell-big2 {
  //   min-width: 180rpx;
  // }

  .number-cell {
    display: block !important;
    text-align: center;

    .text {
      font-family: AlibabaPuHuiTi3;
      font-size: 24rpx;
      font-weight: 500;
      color: #888bf4;
    }

    .date {
      font-family: AlibabaPuHuiTi3;
      font-size: 18rpx;
      font-weight: normal;
      color: #1c2023;
      margin-top: 10rpx;
    }
  }

  // 最后一个单元格不需要边框
  .table-row:last-child::before {
    display: none;
  }
}

.scroll-view {

  // flex: 1;
  // min-height: 0;
  .card_item {
    position: relative;
    padding: 30rpx;
    border-radius: 20rpx;
    box-sizing: border-box;
    border: 1rpx solid #d1d2f9;
    background-color: #ffffff;
    margin-bottom: 32rpx;

    .nav_top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title_box {
        display: flex;
        align-items: center;

        .icon {
          width: 40rpx;
          height: 40rpx;
        }

        .text {
          font-family: AlibabaPuHuiTi3;
          font-size: 30rpx;
          font-weight: normal;
          color: #1c2023;
          margin-left: 10rpx;
        }
      }

      .number {
        font-family: AlibabaPuHuiTi3;
        font-size: 20rpx;
        font-weight: 300;
        color: #c5c8cb;
      }
    }

    .card_list {
      font-family: AlibabaPuHuiTi3;
      font-size: 24rpx;
      font-weight: 300;
      color: #1c2023;

      .list_item {
        width: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        margin-top: 24rpx;

        .lable,
        .info {
          display: block;
        }
      }
    }

    .card_icon {
      position: absolute;
      right: 48rpx;
      bottom: 49rpx;

      .icon {
        width: 112rpx;
        height: 112rpx;
      }
    }
  }
}

.wrapper {
  background-color: var(--td-bg-color-container);
  padding: 32rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper__center {
  color: var(--td-text-color-placeholder);
}

.wrapper__left,
.wrapper__right {
  width: 240rpx;
  color: var(--td-text-color-primary);
  font-size: 32rpx;
  font-weight: 600;
  line-height: 48rpx;
}

.wrapper__right {
  text-align: right;
}

.admin_operation_nav {
  height: 336rpx !important;
}