.my-edit_container {
	width: 100vw;
	height: 100vh;
	background-color: #f5f6f7;
	.bd05 {
		width: 100%;
		height: 1rpx;
		background-color: #e3e4e5;
		transform: scaleY(0.5);
	}
	.info_from {
		padding: 20px 20rpx 0 20rpx;
		background-color: #ffffff;
		.from_item {
			display: grid;
			grid-template-columns: 30% 60% 10%;
			align-items: center;
			height: 105rpx;
			font-family: AlibabaPuHuiTi3;
			font-size: 28rpx;
			font-weight: 300;
			color: #1c2023;
			.item_value {
				font-family: AlibabaPuHuiTi3;
				font-size: 26rpx;
				font-weight: normal;
				color: #1c2023;

				.item-input {
					padding: 0;
					font-family: AlibabaPuHuiTi3;
					font-size: 26rpx;
					font-weight: normal;
					color: #1c2023;
					--td-input-placeholder-text-font-size: 26rpx;
					.errMsg {
						color: red;
					}
				}
			}
		}
		.label_box {
			min-height: 240rpx;
			font-family: AlibabaPuHuiTi3;
			font-size: 26rpx;
			font-weight: normal;
			color: #1c2023;
		}
	}
	.save_btn {
		position: fixed;
		bottom: env(safe-area-inset-bottom);
		width: calc(100% - 64rpx);
		margin: 0 32rpx;
		margin-bottom: 142rpx;
		.btn {
			height: 112rpx;
			border: 2rpx solid #FF8533;
			border-radius: 80rpx;
			box-sizing: border-box;
			font-family: AlibabaPuHuiTi3;
			font-size: 32rpx;
			line-height: 112rpx;
			font-weight: bold;
			color: #FF8533;
		}
		.logout{
			text-align: center;
			margin-top: 20rpx;
			font-size: 26rpx;
			color: #ff6161;
		}
	}
}

.action-btn {
	--td-button-primary-bg-color: #FF8533;
	--td-button-primary-border-color: #FF8533;
	--td-button-primary-active-bg-color: #FCD5C4a2;
	--td-button-primary-active-border-color: #FCD5C4a2;
	margin-bottom: 30rpx;
}
.cancel-btn {
	--td-button-primary-bg-color: #999999;
	--td-button-primary-border-color: #999999;
	--td-button-primary-active-bg-color: #f7f7f7;
	--td-button-primary-active-border-color: #f7f7f7;
	margin-bottom: 30rpx;
}
