.login_container {
	position: relative;
	width: 100vw;
	height: 100vh;
	.login_bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		.logo_gf {
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0%);
			.logo_gf_img {
				width: 278rpx;
				height: 256rpx;
			}
		}
		.bg_img_box {
			width: 100%;
			height: calc(100% - 360rpx);
			margin-top: 360rpx;
			margin-bottom: env(safe-area-inset-bottom);
			.login_bg_img {
				width: 100%;
				height: 100%;
			}
		}
		.footer_box {
			width: 100%;
			position: fixed;
			bottom: env(safe-area-inset-bottom);
			margin-bottom: 50rpx;
			.item {
				color: #000000;
				font-size: 22rpx;
				font-weight: 300;
				text-align: center;
			}
			.mr25 {
				margin-top: 25rpx;
			}
		}
	}
	.go_page {
		width: calc(100% - 112rpx);
		position: fixed;
		bottom: env(safe-area-inset-bottom);
		margin: 0 56rpx;
		margin-bottom: 244rpx;
		.login_btn {
			width: 100%;
			height: 112rpx;
			border: 2rpx solid #bfbef8;
			box-sizing: border-box;
			font-family: AlibabaPuHuiTi3;
			font-size: 32rpx;
			line-height: 112rpx;
			font-weight: bold;
			color: #bfbef8;
			background-color: transparent;
			--td-button-border-radius: 80rpx;
			--td-button-default-border-color: transparent;
		}
	}

	.agreement {
		width: 100%;
		height: 45rpx;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: 30rpx;
		margin-left: 10rpx;
		.check {
			padding: 0 !important;
			--td-checkbox-icon-size: 30rpx;
			--td-checkbox-bg-color: transparent;
		}
		.t-checkbox__icon {
			margin-top: 0 !important;
		}
		.agreement_info {
			display: flex;
			font-family: AlibabaPuHuiTi3;
			font-size: 26rpx;
			font-weight: normal;
			color: #ffffff;

			.info {
				display: block;
				color: #888bf4;
			}
		}
	}
}
.action-btn {
	--td-button-primary-bg-color: #888bf4;
	--td-button-primary-border-color: #888bf4;
	--td-button-primary-active-bg-color: #888cf4a2;
	--td-button-primary-active-border-color: #888cf4a2;
	margin-bottom: 30rpx;
}
.cancel-btn {
	--td-button-primary-bg-color: #999999;
	--td-button-primary-border-color: #999999;
	--td-button-primary-active-bg-color: #f7f7f7;
	--td-button-primary-active-border-color: #f7f7f7;
	margin-bottom: 30rpx;
}
