.login_container {
	position: relative;
	width: 100vw;
	height: 100vh;
	.login_bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    background-color: #05020D;
		.logo_gf {
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0%);
			.logo_gf_img {
				width: 232rpx;
				height: 214rpx;
			}
		}
		.bg_img_box {
      position: absolute;
      left: 50%;
			width: 294px;
      height: 511px;
      transform: translate(-50%, 0);
			margin-top: 232rpx;
			.login_bg_img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.go_page {
		width: calc(100% - 112rpx);
		position: fixed;
		bottom: env(safe-area-inset-bottom);
    margin: 0 56rpx;
		.login_btn {
			width: 100%;
			height: 112rpx;
			box-sizing: border-box;
			font-family: AlibabaPuHuiTi3;
			font-size: 32rpx;
			line-height: 112rpx;
			font-weight: bold;
			color: #FFFFFF;
			background-color: transparent;
			--td-button-border-radius: 80rpx;
      --td-button-default-border-color: transparent;
      background: linear-gradient(280deg, #FF8533 1%, #F85700 100%);
    }
    .go_index{
      text-align: center;
      margin-top: 10rpx;
      .text{
        font-family: AlibabaPuHuiTi3;
        margin-top: 4rpx;
        font-size: 20rpx;
        color: #000000;
      }
    }
	}

	.agreement {
		width: 100%;
		height: 45rpx;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: 10rpx;
		margin-left: 10rpx;
		.check {
			padding: 0 !important;
			--td-checkbox-icon-size: 30rpx;
			--td-checkbox-bg-color: transparent;
		}
		.t-checkbox__icon {
			margin-top: 0 !important;
		}
		.agreement_info {
			display: flex;
			font-family: AlibabaPuHuiTi3;
			font-size: 26rpx;
			font-weight: normal;
			color: #ffffff;

			.info {
				display: block;
				color: #FF8533;
			}
		}
	}
}
.action-btn {
	--td-button-primary-bg-color: #FF8533;
	--td-button-primary-border-color: #FF8533;
	--td-button-primary-active-bg-color: #FCD5C4a2;
	--td-button-primary-active-border-color: #FCD5C4a2;
	margin-bottom: 30rpx;
}
.cancel-btn {
	--td-button-primary-bg-color: #999999;
	--td-button-primary-border-color: #999999;
	--td-button-primary-active-bg-color: #f7f7f7;
	--td-button-primary-active-border-color: #f7f7f7;
	margin-bottom: 30rpx;
}
