.change-password_container {
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
	.from_box {
		margin: 0 32rpx;
		margin-top: 32rpx;
		.errMsg {
			color: red;
		}
		.item {
			margin-top: 30rpx;
		}
		.lable {
			font-family: AlibabaPuHuiTi3;
			font-size: 32rpx;
			font-weight: normal;
			color: #1c2023;
		}
		.item-input {
			padding: 25rpx 20rpx;
			font-family: AlibabaPuHuiTi3;
			font-size: 26rpx;
			font-weight: normal;
			color: #1c2023;
			--td-input-placeholder-text-font-size: 26rpx;
			box-sizing: border-box;
			border: 1rpx solid #FF8533;
			border-radius: 20rpx;
			margin-top: 29rpx;
		}
	}
	.save_btn {
		position: fixed;
		bottom: env(safe-area-inset-bottom);
		width: calc(100% - 64rpx);
		margin: 0 32rpx;
		height: 112rpx;
		border-radius: 80rpx;
		box-sizing: border-box;
		font-family: AlibabaPuHuiTi3;
		font-size: 32rpx;
		line-height: 112rpx;
		font-weight: bold;
		color: #ffffff;
		background: linear-gradient(279deg, #FF8533 -1%, #F85700 100%);
	}
}
