.founder-device_container {
	width: 100vw;
  height: calc(100vh - (env(safe-area-inset-bottom) + 48px));
  padding-bottom: 48px;
	flex: 1;
	display: flex;
	flex-direction: column;
	// background-color: #f5f7fb;
  background: linear-gradient(180deg, #888bf4 20%, #f5f7fb 40%, #f5f7fb 100%);
  .bg_box {
    position: relative;
    width: 100%;
    height: 552rpx;
    // background: linear-gradient(180deg, #888bf4 29%, #f5f7fb 100%);

    .bg_top {
      position: absolute;
      width: 218rpx;
      height: 384rpx;
      top: -180rpx;
      left: 0;
    }

    .logo_text {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-family: AlibabaPuHuiTi3;
      font-size: 50rpx;
      color: #ffffff;
    }

    .logo_slogan {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32rpx;

      .gf_logo {
        width: 26rpx;
        height: 30rpx;
      }

      .slogan {
        font-family: AlibabaPuHuiTi3;
        font-size: 28rpx;
        color: #ffffff;
        margin-left: 11rpx;
      }
    }
  }
	.device_nav {
    margin-top: -260rpx;
    --td-cell-bg-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
		.right_box {
			position: absolute;
			right: 0;
			width: 140rpx;
			height: 50rpx;
			border-radius: 25rpx 0 0 25rpx;
			background-color: #888bf4;
			font-family: AlibabaPuHuiTi3;
			font-size: 24rpx;
			font-weight: 300;
			line-height: 50rpx;
			text-align: center;
			letter-spacing: 0px;
			color: #e7e8fd;
		}
	}

  .admin-team_tabs {
    width: calc(100% - 54rpx);
    height: 80rpx;
    margin: 32rpx 27rpx 20rpx 27rpx;
    border-radius: 40rpx;
    box-sizing: border-box;
    // border: 1px solid #ecedfd;
    background-color: #ffffff;

    .item_style {
      font-family: AlibabaPuHuiTi3;
      font-size: 28rpx;
      font-weight: bold;
      --td-tab-item-color: #888bf4;
    }

    .active_style {
      background-color: #888bf4;
      border-radius: 60rpx;
      font-family: AlibabaPuHuiTi3;
      font-size: 32rpx;
      font-weight: 300;
      color: #ffffff;
    }

    .tabs_box {
      --td-tab-nav-bg-color: rgba(255, 255, 255, 0.3);
      --td-tab-item-tag-bg: transparent;
      --td-tab-border-color: transparent;
      --td-tab-item-tag-active-bg: #888bf4;
      --td-tab-item-color: #1c2023;
      --td-tab-item-active-color: #ffffff;
      --td-tab-item-height: 80rpx;
      border-radius: 40px !important;

      .t-tabs__wrapper {
        border-radius: 40px !important;
      }
    }
  }
	.bd05 {
		width: calc(100% - 30rpx);
		margin: 0 15rpx;
		height: 1rpx;
		background-color: #e7e8fd;
		transform: scaleY(0.5);
	}
	.scroll-view {
		flex: 1;
		min-height: 0;
		padding-bottom: env(safe-area-inset-bottom);
		.list_item {
			margin-top: 30rpx;
			.list_item_info {
				font-family: AlibabaPuHuiTi3;
				font-size: 24rpx;
				font-weight: normal;
				background: linear-gradient(281deg, #888bf4 0%, #5151c6 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
		}
	}
}

.empty {
	--td-empty-description-margin-top: 0;
	--td-empty-description-font-size: 24rpx;
	padding-top: 40rpx;
}
.empty_image {
	width: 40rpx;
	height: 48rpx;
}
