.work-team_container {
  width: 100vw;
  height: 100vh;
  // background-color: #F5F7FA;
  background: linear-gradient(180deg, var(--main-bg-gradient-color-1) 0%, var(--main-bg-gradient-color-2) 60%);

  .navBar {
    --td-navbar-bg-color: transparent;
    --td-navbar-color: var(--text-secondary-color);
  }

  .group_box {
    margin-top: 32rpx;

    .item_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 88rpx;
      height: 88rpx;
      border-radius: 30rpx;
      background-color: #49b9ad;
      background: linear-gradient(225deg, #E8F8F0 15%, #27AE60 85%);
    }

    .title {
      font-family: AlibabaPuHuiTi3;
      font-size: 30rpx;
      font-weight: 300;
      color: #1c2023;
    }

    .description {
      font-family: AlibabaPuHuiTi3;
      font-size: 24rpx;
      font-weight: normal;
      color: #c5c8cb;
    }

    .bg {
      // background-color: #5595ff !important;
      background: linear-gradient(225deg, #0DBDBD 15%, #0DBDBD 85%) !important;
    }
  }

	.gf_logo {
		position: fixed;
		bottom: env(safe-area-inset-bottom);
    z-index: 1;
		// left: 50%;
		// transform: translate(-50%, 0%);
		// mix-blend-mode: color-burn;
		// opacity: 1;
		.gf_logo_bg {
			width: calc(100vw - 64rpx);
      margin: 0 32rpx;
			height: 244rpx;
		}
	}
}