@import '../../static/style/qrStyle.scss';
.store-team-members_container {
	width: 100vw;
	height: 100vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #FAF8F8;
	.navBar {
		--td-navbar-bg-color: #FF8533;
		--td-navbar-color: #fff;
		--td-navbar-capsule-border-color: #e3e6ea !important;
	}
	.nav_bg {
		width: 100%;
		height: 122rpx;
		margin-top: -2rpx;
		background-color: #FF8533;
	}
	.device_nav {
		margin-top: -90rpx;
		.right_box {
			position: absolute;
			right: 0;
			width: 140rpx;
			height: 50rpx;
			border-radius: 25rpx 0 0 25rpx;
			background-color: #FFEADF;
			font-family: AlibabaPuHuiTi3;
			font-size: 24rpx;
			font-weight: 300;
			line-height: 50rpx;
			text-align: center;
			letter-spacing: 0px;
			color: #FF8533;
		}
	}

	.bd05 {
		width: calc(100% - 30rpx);
		margin: 0 15rpx;
		height: 1rpx;
		background-color: #FFEADF;
		transform: scaleY(0.5);
	}
	.scroll-view {
		flex: 1;
		min-height: 0;
		margin-top: 30rpx;
		padding-bottom: env(safe-area-inset-bottom);
		
		.list_item {
			padding-top: 30rpx;
			.title_box {
				display: flex;
        align-items: center;
        margin-bottom: 15rpx;
				.title_text {
					font-family: AlibabaPuHuiTi3;
					font-size: 32rpx;
					font-weight: 300;
					letter-spacing: 0rpx;
					color: #1c2023;
				}
				.tag_box {
					position: relative;
					width: 140rpx;
					height: 42rpx;
					margin-top: 8rpx;
					.tag_icon {
						width: 100%;
						height: 100%;
					}
					.tag_text {
						position: absolute;
						top: 50%;
						left: 33%;
						transform: translate(0%, -50%);
						font-family: AlibabaPuHuiTi3;
						font-size: 16rpx;
						font-weight: normal;
						color: #ffffff;
					}
        }
      }
      .description_text{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .phoneIcon{
          margin-right: 10rpx;
        }
      }
		}
	}
}

.empty {
	--td-empty-description-margin-top: 0;
	--td-empty-description-font-size: 24rpx;
	padding-top: 40rpx;
}
.empty_image {
	width: 40rpx;
	height: 48rpx;
}

.switch {
  --td-switch-checked-color: #FF8533;
  --td-switch-checked-disabled-color: #aaadee;
}