.device-list_container {
  width: 100vw;
  height: calc(100vh - (env(safe-area-inset-bottom) + 48px));
  padding-bottom: 48px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f5f7fb;

  .bg_box {
    position: relative;
    width: 100%;
    height: 552rpx;
    background: linear-gradient(180deg, #888bf4 29%, #f5f7fb 100%);

    .bg_top {
      position: absolute;
      width: 218rpx;
      height: 384rpx;
      top: -180rpx;
      left: 0;
    }

    .logo_text {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-family: AlibabaPuHuiTi3;
      font-size: 50rpx;
      color: #ffffff;
    }

    .logo_slogan {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32rpx;

      .gf_logo {
        width: 26rpx;
        height: 30rpx;
      }

      .slogan {
        font-family: AlibabaPuHuiTi3;
        font-size: 28rpx;
        color: #ffffff;
        margin-left: 11rpx;
      }
    }
  }

  .device_nav {
    margin-top: -260rpx;
    --td-cell-bg-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

    .device_info {
      font-family: AlibabaPuHuiTi3;
      font-size: 24rpx;
      font-weight: normal;
      line-height: 34px;
      color: #42e126;
    }


    .right_box {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140rpx;
      height: 50rpx;
      border-radius: 25rpx 0 0 25rpx;
      background-color: #888bf4;
      font-family: AlibabaPuHuiTi3;
      font-size: 24rpx;
      font-weight: 300;
      text-align: center;
      letter-spacing: 0px;
      color: #e7e8fd;
      padding: 0 10rpx;

      .sacn {
        margin-right: 10rpx;
      }
    }
  }

  .bd05 {
    width: calc(100% - 30rpx);
    margin: 0 15rpx;
    height: 1rpx;
    background-color: #e7e8fd;
    transform: scaleY(0.5);
  }

  .scroll-view {
    flex: 1;
    min-height: 0;

    .device_grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30rpx;
      gap: 30rpx;
      width: calc(100% - 60rpx);
      margin: 0 30rpx;
      margin-top: 48rpx;

      .device_item {
        position: relative;
        // height: 200rpx;
        border-radius: 38rpx;
        overflow: hidden;
        background-color: #ffffff;

        .card_bg {
          pointer-events: none;
          position: absolute;
          right: -81rpx;
          top: -10rpx;
          width: 235rpx;
          height: 268rpx;
        }

        .go_info {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-family: AlibabaPuHuiTi3;
          font-size: 16rpx;
          font-weight: normal;
          color: #888bf4;
          padding-top: 20rpx;
          margin-right: 20rpx;
        }

        .device_card {
          --td-cell-horizontal-padding: 18rpx;
          --td-cell-vertical-padding: 12rpx;
          --td-cell-bg-color: transparent;

          .use_ing {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 68rpx;
            height: 68rpx;
            border-radius: 50%;
            font-family: AlibabaPuHuiTi3;
            font-size: 18rpx;
            color: #888bf4;
            background-color: #e7e8fd;
          }

          .sacn_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 68rpx;
            height: 68rpx;
            border-radius: 50%;
            background-color: #888bf4;
          }

          .card_left {
            margin-right: 15rpx !important;
          }

          .card_title {
            font-family: AlibabaPuHuiTi3;
            font-size: 20rpx;
            line-height: 33rpx;
            font-weight: normal;
            color: #130f26;
          }

          .card_center {
            margin-right: 0 !important;
          }
        }

        .footer {
          display: flex;
          // justify-content: space-a;
          align-items: center;
          padding: 15rpx 18rpx 20rpx 18rpx;

          .date {
            font-family: AlibabaPuHuiTi3;
            font-size: 15rpx;
            font-weight: normal;
            color: #c5c8cb;
          }

          .icon_img {
            width: 20rpx;
            height: 20rpx;
            margin-left: 10rpx;
          }
        }
      }
    }
  }
}

.empty {
  --td-empty-description-margin-top: 0;
  --td-empty-description-font-size: 24rpx;
  padding-top: 40rpx;
}

.empty_image {
  width: 40rpx;
  height: 48rpx;
}