@import '../../static/style/qrStyle.scss';

.my_body {
  position: relative;
  width: 100vw;
  height: calc(100vh - (env(safe-area-inset-bottom) + 48px));
  padding-bottom: 48px;
  background-color: #FBFBFD;
  // background: linear-gradient(180deg, #888bf4 20%, #f5f7fb 40%, #f5f7fb 100%);

  .navBar {
    --td-navbar-bg-color: #FFFFFF;
    --td-navbar-color: #5A5470;
    --td-navbar-capsule-border-color: #e3e6ea !important;
  }


  .user_info {
    position: relative;
    // z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40rpx;
    background-color: transparent;

    .bg_box {
      position: absolute;
      z-index: 0;
      top: -80rpx;
      width: 100%;
      height: 242rpx;

      .my_bg {
        width: 100%;
        height: 100%;
      }
    }

    .avatar {
      position: relative;
      z-index: 2;
      width: 200rpx;
      height: 200rpx;
      border-radius: 50%;
      border: 6rpx solid #FFFFFF;
    }

    .info_box {
      width: 100%;
      text-align: center;
      font-family: AlibabaPuHuiTi3;
      margin-top: 24rpx;

      .user_name {
        font-size: 36rpx;
        color: #1E1A2E;
      }

      .user_role {
        font-size: 24rpx;
        color: #9A95AA;
        margin-top: 10rpx;
      }
    }
  }

  .menu_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20rpx;
    align-items: flex-end;
    width: calc(100% - 48rpx);
    margin: 0 24rpx;
    margin-top: 40rpx;
    background-color: transparent;

    .text {
      font-family: AlibabaPuHuiTi3;
      font-size: 24rpx;
      color: #1c2023;
    }

    .item {
      // width: 160rpx;
      height: 190rpx;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      text-align: center;
      border-radius: 16rpx;
      background-color: #FFFFFF;
      box-shadow: -2rpx 8rpx 46rpx 0px rgba(37, 45, 50, 0.05);

      .menu_grid_icon {
        width: 70rpx;
        height: 70rpx;
      }

      .text {
        width: 100%;
        margin-top: 15rpx;
      }
    }
  }

  .nav_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 100rpx);
    margin: 30rpx 50rpx 20rpx 50rpx;

    .title {
      font-family: AlibabaPuHuiTi3;
      font-size: 28rpx;
      color: #1E1A2E;
      font-weight: bold;
    }

    .number {
      font-size: 24rpx;
      color: #606972;
    }
  }

  .cell_box {
    align-items: center;
  }

  .dept_title {
    white-space: nowrap;
    font-size: 28rpx !important;
  }

  .dept_center {
    // flex: inherit !important;
  }

  .dept_note {
    font-family: AlibabaPuHuiTi3;
    font-size: 26rpx;
    font-weight: normal;
    color: #BEA6D4;
  }

  .dept_info {
    --td-cell-note-font-size: 28rpx;

    // --td-cell-vertical-padding: 20rpx;
    .go_dev {
      position: absolute;
      right: 25rpx;
    }


  }

  .join_dept {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    height: 420rpx;
    margin: 0 30rpx;
    border-radius: 20rpx;
    background-color: #FFFFFF;

    .tips {
      width: 100%;
      text-align: center;
      font-family: AlibabaPuHuiTi3;
      font-size: 28rpx;
      font-weight: normal;
      text-align: center;
      color: #737B80;
      margin-bottom: 20rpx;
    }

    .join_dept_btn {
      width: 342rpx;
      height: 64rpx;
      box-sizing: border-box;
      font-family: AlibabaPuHuiTi3;
      font-size: 32rpx;
      line-height: 64rpx;
      font-weight: bold;
      color: #FFFFFF;
      background-color: transparent;
      --td-button-border-radius: 80rpx;
      --td-button-default-border-color: transparent;
      background-color: #BEA6D4;
    }
  }

  .footer-example {
    margin-top: 50rpx;
  }
}

.action-btn {
  --td-button-primary-bg-color: #BEA6D4;
  --td-button-primary-border-color: #BEA6D4;
  --td-button-primary-active-bg-color: #E6DDF0;
  --td-button-primary-active-border-color: #E6DDF0;
  margin-bottom: 30rpx;
}

.cancel-btn {
  --td-button-primary-bg-color: #999999;
  --td-button-primary-border-color: #999999;
  --td-button-primary-active-bg-color: #E6DDF0;
  --td-button-primary-active-border-color: #E6DDF0;
  margin-bottom: 30rpx;
}

.textOverflow {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  // text-align: left;
  display: block !important;
  max-width: 100%;
  flex: inherit !important
}