.device-use_container {
	width: 100vw;
	height: 100vh;
	background-color: #F9F7FC;
	.navBar {
		.navBar_title {
			display: flex;
			align-items: center;
			.green {
				width: 10rpx;
				height: 10rpx;
				border-radius: 50%;
				background-color: #42e126;
				margin-right: 10rpx;
			}
			.red {
				background-color: red !important;
			}
		}
	}
	.device_info {
    font-family: AlibabaPuHuiTi3;
    margin-top: 38rpx;
		text-align: center;
		.title{
			font-size: 44rpx;
    }
    .text {
			font-size: 32rpx;
			font-weight: normal;
			text-align: center;
			color: #000000;
		}
	}
  .device_card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24rpx;
    width: calc(100% - 96rpx);
    margin: 0 48rpx;
    margin-top: 50rpx;
    .item{
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      height: 154rpx;
      border-radius: 32rpx;
      box-shadow: 0rpx 6rpx 30rpx 0rpx rgba(158, 129, 179, 0.13);
      background-color: #FFFFFF;
      .text{
        width: 100%;
        text-align: center;
        font-size: 26rpx;
        color: #5A5470;
        margin-top: 12rpx;
      }
    }
  }
	.device_image {
		width: 534rpx;
		height: 700rpx;
		// margin-top: 100rpx;
    margin: 20rpx auto;
		.device_use {
			width: 100%;
			height: 100%;
		}
	}
	.footer {
		position: fixed;
		bottom: env(safe-area-inset-bottom);
		width: calc(100% - 64rpx);
		margin: 0 32rpx;
		.device_id {
			font-family: AlibabaPuHuiTi3;
			font-size: 24rpx;
			font-weight: normal;
			color: #606972;
			text-align: center;
			margin-bottom: 64rpx;
		}
		.save_btn {
			width: 100%;
			height: 112rpx;
			border: 2rpx solid #BEA6D4;
			border-radius: 80rpx;
			box-sizing: border-box;
			font-family: AlibabaPuHuiTi3;
			font-size: 32rpx;
			line-height: 112rpx;
			font-weight: bold;
			color: #BEA6D4;
			background-color: transparent;
		}
	}
}
