.tabBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: white;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
	box-shadow: 0px -2px 22.2px 0px rgba(0, 0, 0, 0.09);
	.tab-bar-border {
		background-color: rgba(0, 0, 0, 0.33);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 1px;
		transform: scaleY(0.5);
	}

  .tabBarItem {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .itemImage {
      width: 35rpx;
      height: 35rpx;
    }
    
    .itemTitle {
      font-size: 10px;
    }
  }
}
