.usage-guide_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #FAF8F8;

  .navBar {
    --td-navbar-bg-color: #FF8533;
    --td-navbar-color: #fff;
    --td-navbar-capsule-border-color: #e3e6ea !important;
  }

  .scroll-content {
    flex: 1;
    overflow: scroll;
		padding-bottom: env(safe-area-inset-bottom);
    .image-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .usage-guide {
      width: 100%;
      max-width: 100vw;
      display: block;
    }
  }
}