.device-list_container {
	width: 100vw;
	height: 100vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #f5f7fb;
	.navBar {
		--td-navbar-bg-color: #888bf4;
		--td-navbar-color: #fff;
		--td-navbar-capsule-border-color: #e3e6ea !important;
	}
	.nav_bg {
		width: 100%;
		height: 122rpx;
		margin-top: -2rpx;
		background-color: #888bf4;
	}
	.device_nav {
		margin-top: -90rpx;
		.device_info {
			font-size: 24rpx;
			font-weight: normal;
			line-height: 34px;
			color: #42e126;
		}
	}
	.bd05 {
		width: calc(100% - 30rpx);
		margin: 0 15rpx;
		height: 1rpx;
		background-color: #e7e8fd;
		transform: scaleY(0.5);
	}
	.scroll-view {
		flex: 1;
		min-height: 0;
		padding-bottom: env(safe-area-inset-bottom);
		.device_grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			row-gap: 30rpx;
			gap: 30rpx;
			width: calc(100% - 60rpx);
			margin: 0 30rpx;
			margin-top: 48rpx;
			.device_item {
				position: relative;
				// height: 200rpx;
				border-radius: 38rpx;
				overflow: hidden;
				background-color: #ffffff;
				.card_bg {
					position: absolute;
					right: -81rpx;
					top: -10rpx;
					width: 235rpx;
					height: 268rpx;
				}
				.go_info {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					// font-family: AlibabaPuHuiTi;
					font-size: 16rpx;
					font-weight: normal;
					color: #888bf4;
					padding-top: 20rpx;
					margin-right: 20rpx;
				}
				.device_card {
					--td-cell-horizontal-padding: 18rpx;
					--td-cell-vertical-padding: 12rpx;
					--td-cell-bg-color: transparent;
					.use_ing {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 70rpx;
						height: 70rpx;
						border-radius: 50%;
						font-size: 18rpx;
						color: #888bf4;
						background-color: #e7e8fd;
					}
					.sacn_icon {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 70rpx;
						height: 70rpx;
						border-radius: 50%;
						background-color: #888bf4;
					}
					.card_title {
						font-size: 20rpx;
						line-height: 35rpx;
						font-weight: normal;
						color: #130f26;
					}
				}
				.date {
					font-size: 15rpx;
					font-weight: normal;
					color: #c5c8cb;
					padding: 15rpx 18rpx 20rpx 18rpx;
				}
			}
		}
	}
}
