.blufi-page-container {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-color: #f4f7fb;

	.blufi-step-wrapper {
		// padding: 0rpx 40rpx;
		margin-top: 40rpx;
		--td-step-item-line-color: #0000003d;
		--td-step-item-default-circle-bg: #EBE7E6;
		--td-step-item-process-circle-bg: #F85700;
		--td-step-item-finish-circle-bg: #F85700;
		--td-step-item-finish-circle-color: #EBE7E6;
	}

	.steps0 {
		.steps0_title {
			padding-left: 80rpx;
			margin-top: 48rpx;
			font-family: AlibabaPuHuiTi3;
			font-size: 40rpx;
			font-weight: normal;
		}

		.info_0 {
			padding-left: 80rpx;
			margin: 32rpx 0;
			font-family: AlibabaPuHuiTi3;
			font-size: 28rpx;
			font-weight: normal;
		}

		.info_1 {
			padding-left: 80rpx;
			margin-top: 20rpx;
			font-family: AlibabaPuHuiTi3;
      font-size: 28rpx;
      .red_text{
        font-weight: bold;
        color: #d54941;
      }
		}
	}

	.blufi-filter-wrapper {
		z-index: 0;
	}

	.blufi-list-wrapper {
		height: calc(100% - env(safe-area-inset-bottom));
		padding-bottom: env(safe-area-inset-bottom);
		background-color: #f7f8fa;
		overflow-y: auto;

		.blufi-note-content {
			margin-left: 80rpx;
			margin-top: 48rpx;
			--td-loading-color: #FF8533;
			.font {
				font-family: AlibabaPuHuiTi3;
				font-size: 40rpx;
				font-weight: normal;
			}
		}

		.scroll-view {
			margin: 0 80rpx;

			.list_item {
				margin-top: 30rpx;
				border-radius: 24rpx;
				border: 2rpx solid #bec0f9;
        .left-icon{
          width: 120rpx;
          height: 120rpx;
          object-fit: contain;
          background-color: #EFEFEF;
          border-radius: 50%;
        }
				.title_box {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
				}

				.title_text {
					width: 100%;
					font-family: AlibabaPuHuiTi3;
					font-size: 28rpx;
					font-weight: normal;
					color: #1c2023;
				}

				.right-icon {
					--td-radio-icon-checked-color: #17d26d;
				}
			}
		}
	}
}

.blufi-wifi-input-wrapper {
	padding: 0 80rpx;
	flex: 1;
	margin: 25rpx;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;

	// justify-content: space-around;
	.title {
		width: 100%;
		font-family: AlibabaPuHuiTi3;
		font-size: 40rpx;
		font-weight: normal;
	}

	.info {
		margin-top: 32rpx;
		font-family: AlibabaPuHuiTi3;
		font-size: 26rpx;
		font-weight: normal;
		line-height: 58rpx;
		color: #979797;
	}

	.wifi_input {
		// width: 100%;
		border: 1rpx solid #d1d5db;
		border-radius: 8rpx;
		padding: 15rpx 20rpx;
	}

	.blufi-wifi-input-cover {
		width: 402rpx;
		height: 342rpx;
	}

	.wifi24 {
		font-family: AlibabaPuHuiTi3;
		font-size: 28rpx;
		font-weight: normal;
		text-align: center;
		color: #3d3d3d;
		margin-bottom: 32rpx;
	}
}

.blufi-success-wrapper {
	flex: 1;
	margin: 25rpx;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	.box {
		padding: 0 80rpx;

		// justify-content: space-around;
		.title {
			width: 100%;
			font-family: AlibabaPuHuiTi3;
			font-size: 40rpx;
			font-weight: normal;
		}

		.info {
			margin-top: 32rpx;
			font-family: AlibabaPuHuiTi3;
			font-size: 26rpx;
			font-weight: normal;
			line-height: 58rpx;
			color: #979797;
		}

		.list {
			width: 100%;
			margin-top: 132rpx;

			.item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-family: AlibabaPuHuiTi3;
				font-size: 32rpx;
				font-weight: normal;
				color: #FF8533;
				padding: 20rpx 0;
				border-bottom: 1rpx solid #d8d8d8;
				--td-loading-color: #FF8533;
				&.success {
					color: #c5c8cb;
				}
				&.pending {
					color: #FF8533;
				}
			}
		}
	}
}

.loading-container {
	z-index: 3;
}

.loading-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	display: flex;
	flex-direction: column;
	z-index: 4;
}

.loading-info {
	color: white;
	margin-top: 30rpx;
}

.wifi_btn_box {
	position: fixed;
	bottom: env(safe-area-inset-bottom);
	width: calc(100% - 64rpx);
	margin: 0 32rpx;
	margin-bottom: 62rpx;

	.wifi_btn {
		height: 112rpx;
		border-radius: 80rpx;
		box-sizing: border-box;
		font-family: AlibabaPuHuiTi3;
		font-size: 32rpx;
		line-height: 112rpx;
		font-weight: bold;
		color: #ffffff;
		background: linear-gradient(279deg, #FF8533 -1%, #F85700 100%);
	}

	.reset {
		font-family: AlibabaPuHuiTi3;
		text-align: center;
		margin-top: 20rpx;
		font-size: 28rpx;
		font-weight: normal;
		color: #666666;
	}
}

.save_btn {
	position: fixed;
	bottom: env(safe-area-inset-bottom);
	width: calc(100% - 64rpx);
	margin: 0 32rpx;
	margin-bottom: 42rpx;
	height: 112rpx;
	border-radius: 80rpx;
	box-sizing: border-box;
	font-family: AlibabaPuHuiTi3;
	font-size: 32rpx;
	line-height: 112rpx;
	font-weight: bold;
	color: #ffffff;
	background: linear-gradient(279deg, #FF8533 -1%, #F85700 100%);
}

.empty {
	padding: 100rpx 0;
	background-color: transparent;
}
