.qr_userInfo {
  --td-cell-horizontal-padding: 0;
  --td-cell-vertical-padding: 0;

  .tag_icon {
    width: 140rpx;
    height: 42rpx;
  }
}
.dialog_content {
  position: relative;
}
.institution_box {
  display: flex;
  align-items: center;
  border-radius: 10rpx;
  background-color: #FDF2ED;
  padding: 7rpx 20rpx;
  margin-top: 26rpx;
  .institution {
    font-family: AlibabaPuHuiTi3;
    font-size: 24rpx;
    font-weight: 400;
    color: #FF8533;
  }
}
.qr_image_box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 80rpx 0 30rpx 0;
  .qr_image {
    width: 240px;
    height: 240px;
  }
}

.qr_code_text {
  font-family: AlibabaPuHuiTi3;
  font-size: 24rpx;
  font-weight: normal;
  text-align: center;
  color: #1c2023;
  text-align: center;
}

.invite_btn {
	position: fixed;
	bottom: env(safe-area-inset-bottom);
	width: calc(100% - 64rpx);
	height: 112rpx;
	margin: 0 32rpx;
	border-radius: 80rpx;
	background: linear-gradient(279deg, #FF8533 -1%, #F85700 100%);
	font-family: AlibabaPuHuiTi3;
	font-size: 32rpx;
	font-weight: bold;
	line-height: 112rpx;
	color: #ffffff;
}
.save_invite {
  position: absolute;
  bottom: -112rpx + -32rpx;
  width: 100%;
  height: 112rpx;
  border-radius: 80rpx;
  font-family: AlibabaPuHuiTi3;
  font-size: 32rpx;
  font-weight: bold;
  line-height: 112rpx;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(279deg, #FF8533 -1%, #F85700 100%);
}

.tag_box {
	position: relative;
	width: 140rpx;
	height: 42rpx;
	margin-top: 8rpx;
	.tag_icon {
		width: 100%;
		height: 100%;
	}
	.tag_text {
		position: absolute;
		top: 50%;
		left: 33%;
		transform: translate(0%, -51%);
		font-family: AlibabaPuHuiTi3;
		font-size: 18rpx;
		font-weight: normal;
		color: #ffffff;
	}
}