.recharge-history_container {
  width: calc(100vw - 60rpx);
  height: calc(100vh - (env(safe-area-inset-bottom) + 16px));
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #F4F7FB;
  padding: 0 30rpx;
  margin-top: 16px;
  padding-bottom: env(safe-area-inset-bottom);

  .history_tabs {
    --td-tab-nav-bg-color: rgba(255, 255, 255, 0.3);
    --td-tab-item-tag-bg: transparent;
    --td-tab-item-tag-active-bg: #888bf4;
    --td-tab-item-color: #1c2023;
    --td-tab-item-active-color: #ffffff;
    --td-tab-item-height: 77rpx;
    border-radius: 40px !important;

    .t-tabs__wrapper {
      border-radius: 40px !important;
    }
  }

  .item_style {
    font-family: AlibabaPuHuiTi3;
    font-size: 28rpx;
    font-weight: bold;
    --td-tab-item-color: #888bf4;
  }

  .active_style {
    background-color: #888bf4;
    border-radius: 60rpx;
    font-family: AlibabaPuHuiTi3;
    font-size: 32rpx;
    font-weight: 300;
    color: #ffffff;
  }

  .title_box {
    display: flex;
    justify-content: space-between;

    .title,
    .cumulative {
      margin-top: 40rpx;
      margin-bottom: 30rpx;
      font-family: AlibabaPuHuiTi3;
      font-size: 30rpx;
      font-weight: 300;
      color: #1c2023;
    }

    .cumulative {
      color: #888bf4 !important;
    }
  }


  .table {
    display: flex;
    flex-direction: column;
    min-height: 0; // 让父容器撑满
    flex: 1;
    width: 100%;
    margin-top: 30rpx;
    border-radius: 16rpx;
    border: 1rpx solid #D1D2F9;
    background-color: #ffffff;

    .scroll-view {
      flex: 1;
      min-height: 0;
      // max-height: 100vh; // 或者你想要的高度
      overflow: auto;
    }

    .table-header {
      font-weight: bold;
      padding: 20rpx 0;
      font-family: AlibabaPuHuiTi3;
      font-size: 26rpx;
      font-weight: normal;
      color: #606972;
    }

    .table-row {
      position: relative;
      display: flex;
      flex-direction: row;
      padding: 20rpx 0;
      font-family: AlibabaPuHuiTi3;
      font-size: 24rpx;
      font-weight: 500;
      color: #1c2023;
    }

    // 使用缩放来实现0.5px的边框效果
    .table-row::before {
      position: absolute;
      bottom: 0;
      content: '';
      width: calc(100% - 40rpx);
      left: 20rpx;
      right: 20rpx;
      height: 1px;
      background-color: rgba(227, 228, 229, 1);
      transform: scaleY(0.5);
      transform-origin: bottom;
      flex-shrink: 0;
    }

    .cell-header {
      font-family: AlibabaPuHuiTi3;
      font-size: 26rpx;
      font-weight: normal;
      color: #606972;
    }

    .cell-content {
      font-family: AlibabaPuHuiTi3;
      font-size: 24rpx;
      font-weight: 500;
      color: #1c2023;
    }

    .table-cell {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 20rpx;
    }

    .number-cell {
      display: block !important;
      text-align: center;

      .text {
        font-family: AlibabaPuHuiTi3;
        font-size: 24rpx;
        font-weight: 500;
        color: #888bf4;
      }

      .date {
        font-family: AlibabaPuHuiTi3;
        font-size: 18rpx;
        font-weight: normal;
        color: #1c2023;
        margin-top: 10rpx;
      }
    }

    // 最后一个单元格不需要边框
    .table-row:last-child::before {
      display: none;
    }
  }
}

.empty {
  padding: 100rpx 0;
  background-color: #ffffff;
}