.empty {
	position: relative;
	background-color: #ffffff;
	.image {
		width: 560rpx;
		height: 412rpx;
		margin-top: 30rpx;
	}
	.description {
		position: absolute;
		top: 300rpx;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		font-family: AlibabaPuHuiTi3;
		font-size: 28rpx;
		font-weight: normal;
		text-align: center;
		color: #737b80;
	}
}
