.service-history_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #FF8533 29%, #FAF8F8 40%, #FAF8F8 100%);

  .navBar {
    --td-navbar-bg-color: #FF8533;
    --td-navbar-color: #fff;
    --td-navbar-capsule-border-color: #e3e6ea !important;
  }

  .nav_bg {
    width: 100%;
    height: 418rpx;
  }

  .history_title {
    position: absolute;
    font-family: AlibabaPuHuiTi3;
    font-size: 50rpx;
    color: #ffffff;
    margin-left: 46rpx;
  }

  .history_box {
    flex: 1;
    min-height: 0;
    flex-direction: column;
    position: relative;
    z-index: 2;
    width: calc(100% - 50rpx - 60rpx);
    margin: 0 25rpx;
    padding: 42rpx 30rpx;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(38rpx);
    top: -200rpx;
    border-radius: 20px;
    padding-bottom: env(safe-area-inset-bottom);

    .history_tabs {
      --td-tab-nav-bg-color: rgba(255, 255, 255, 0.3);
      --td-tab-item-tag-bg: transparent;
      --td-tab-item-tag-active-bg: #FF8533;
      --td-tab-item-color: #1c2023;
      --td-tab-item-active-color: #ffffff;
      border-radius: 40px !important;

      .t-tabs__wrapper {
        border-radius: 40px !important;
      }
    }

    .item_style {
      font-family: AlibabaPuHuiTi3;
      font-size: 28rpx;
      font-weight: bold;
      --td-tab-item-color: #FF8533;
    }

    .active_style {
      background-color: #FF8533;
      border-radius: 60rpx;
      font-family: AlibabaPuHuiTi3;
      font-size: 32rpx;
      font-weight: 300;
      color: #ffffff;
    }

    .title_box {
      display: flex;
      justify-content: space-between;

      .title,
      .cumulative {
        margin-top: 40rpx;
        margin-bottom: 30rpx;
        font-family: AlibabaPuHuiTi3;
        font-size: 30rpx;
        font-weight: 300;
        color: #1c2023;
      }

      .cumulative {
        color: #FF8533 !important;
      }
    }

    .scroll-view {
      margin-top: 40rpx;
      // height: calc(100vh - 418rpx - 42rpx - 30rpx - 40rpx - 200rpx); // 视口高度-顶部背景-内边距-标题-顶部偏移
      height: calc(100vh - 418rpx - 200rpx); // 视口高度-顶部背景-内边距-标题-顶部偏移
      overflow-y: auto;
      min-height: 0;

      .card_item {
        position: relative;
        padding: 30rpx;
        border-radius: 20rpx;
        box-sizing: border-box;
        border: 1rpx solid #FCD5C4;
        background-color: #ffffff;
        margin-bottom: 32rpx;

        .nav_top {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .title_box {
            display: flex;
            align-items: center;
            .icon {
              width: 40rpx;
              height: 40rpx;
            }

            .text {
              font-family: AlibabaPuHuiTi3;
              font-size: 30rpx;
              font-weight: normal;
              color: #1c2023;
              margin-left: 10rpx;
            }
          }

          .number {
            font-family: AlibabaPuHuiTi3;
            font-size: 20rpx;
            font-weight: 300;
            color: #c5c8cb;
          }
        }

        .card_list {
          font-family: AlibabaPuHuiTi3;
          font-size: 24rpx;
          font-weight: 300;
          color: #1c2023;

          .list_item {
            width: 100%;
            display: grid;
            grid-template-columns: 20% 80%;
            margin-top: 24rpx;

            .lable,
            .info {
              display: block;
            }
          }
        }

        .card_icon {
          position: absolute;
          right: 48rpx;
          bottom: 49rpx;

          .icon {
            width: 112rpx;
            height: 112rpx;
          }
        }
      }
    }
  }
}

.empty {
  padding: 100rpx 0;
  background-color: transparent !important;
}