.store-device_container {
	width: 100vw;
	height: 100vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #FAF8F8;
	.navBar {
		--td-navbar-bg-color: #FF8533;
		--td-navbar-color: #fff;
		--td-navbar-capsule-border-color: #e3e6ea !important;
	}
	.nav_bg {
		width: 100%;
		height: 122rpx;
		margin-top: -2rpx;
		background-color: #FF8533;
	}
	.device_nav {
		margin-top: -90rpx;
		.right_box {
			position: absolute;
			right: 0;
			width: 140rpx;
			height: 50rpx;
			border-radius: 25rpx 0 0 25rpx;
			background-color: #FFEADF;
			font-family: AlibabaPuHuiTi3;
			font-size: 24rpx;
			font-weight: 300;
			line-height: 50rpx;
			text-align: center;
			letter-spacing: 0px;
			color: #FF8533;
		}
	}
	
	.bd05 {
		width: calc(100% - 30rpx);
		margin: 0 15rpx;
		height: 1rpx;
		background-color: #FFEADF;
		transform: scaleY(0.5);
	}
	.scroll-view {
		flex: 1;
		min-height: 0;
		padding-bottom: env(safe-area-inset-bottom);
		.list_item {
			margin-top: 30rpx;
			.list_item_info {
				font-family: AlibabaPuHuiTi3;
				font-size: 24rpx;
				font-weight: normal;
				background: linear-gradient(281deg, #FF8533 0%, #F85700 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
		}
	}
}

.empty {
	--td-empty-description-margin-top: 0;
	--td-empty-description-font-size: 24rpx;
	padding-top: 40rpx;
}
.empty_image {
	width: 40rpx;
	height: 48rpx;
}
