.history-container {
	width: 100vw;
	// height: 100vh;
	height: calc(100vh - (env(safe-area-inset-bottom) + 48px));
	background-color: #eee;
	overflow: hidden;
	.beasun {
		position: fixed;
		display: flex;
		width: 100%;
		align-items: flex-end;

		.title {
			display: block;
			width: 234rpx;
			height: 22px;
			margin-left: 48rpx;
		}
	}
	/* 滚动区域 */
	.scroll-box {
		flex: 1;
		overflow: hidden;
	}

	.loading-text {
		text-align: center;
		color: #999;
		padding: 24rpx 0;
		font-size: 24rpx;
	}
	.card-box {
		.card-item {
			display: flex;
			align-items: center;
			height: 200rpx;
			margin-top: 20rpx;
			border-radius: 12rpx;
			.audit_box {
				align-self: center !important;
			}
			.audit {
				width: 100rpx;
				height: 100rpx;
			}
			.title {
				font-size: 26rpx;
			}
			.description {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 24rpx;
			}
		}
	}
}
