.team-info_container {
  width: 100vw;
  height: 100vh;
  background-color: #f5f6f7;

  .bd05 {
    width: 100%;
    height: 1rpx;
    background-color: #e3e4e5;
    transform: scaleY(0.5);
  }

  .errMsg {
    color: red !important;
  }

  .info_form {
    padding: 20px;
    background-color: #ffffff;

    .form_item {
      display: grid;
      grid-template-columns: 30% 60% 10%;
      align-items: center;
      height: 105rpx;
      font-family: AlibabaPuHuiTi3;
      font-size: 28rpx;
      font-weight: 300;
      color: #1c2023;

      .item_value {
        font-family: AlibabaPuHuiTi3;
        font-size: 26rpx;
        font-weight: normal;
        color: #1c2023;

        .item-input {
          padding: 0;
          font-family: AlibabaPuHuiTi3;
          font-size: 26rpx;
          font-weight: normal;
          color: #1c2023;
          --td-input-placeholder-text-font-size: 26rpx;
        }
      }
    }

    .label_box {
      max-height: 150rpx;
      font-family: AlibabaPuHuiTi3;
      font-size: 26rpx;
      font-weight: normal;
      color: #1c2023;
    }
  }

  .addressDetail {
    margin-top: 20rpx;
    font-family: AlibabaPuHuiTi3;
    font-size: 28rpx;
    font-weight: 300;
    color: #1c2023;
    .external-class {
      margin-top: 20rpx;
      padding: 10rpx;
      height: 150rpx;
    }
  }


  .save_btn {
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    width: calc(100% - 64rpx);
    margin: 0 32rpx;
    margin-bottom: 142rpx;
    height: 112rpx;
    border: 2rpx solid #FF8533;
    border-radius: 80rpx;
    box-sizing: border-box;
    font-family: AlibabaPuHuiTi3;
    font-size: 32rpx;
    line-height: 112rpx;
    font-weight: bold;
    color: #FF8533;
  }
}