.white-list_container {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: #f1f3f4;
	.scroll-view {
		flex: 1;
		min-height: 0;
		padding-bottom: env(safe-area-inset-bottom);
		background-color: #f1f3f4;
		.list_item {
			position: relative;
			display: flex;
			align-items: center;
			width: calc(100% - 60rpx);
			height: 176rpx;
			margin: 32rpx;
			border-radius: 24rpx;
			overflow: hidden;
			background-color: #ffffff;
			.left_box_expire {
				background-color: rgba(197, 200, 203, 0.55) !important;
			}
			.left_box {
				position: relative;
				width: 196rpx;
				height: 100%;
				background-color: #FF9159;
				display: flex;
				align-content: center;
				flex-wrap: wrap;
				&::after {
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					left: -15rpx;
					content: '';
					width: 30rpx;
					height: 30rpx;
					border-radius: 50%;
					background-color: #f1f3f4;
				}
				.title {
					width: 100%;
					font-family: AlibabaPuHuiTi3;
					font-size: 36rpx;
					font-weight: bold;
					text-align: center;
					color: #ffffff;
				}
				.number {
					width: 100%;
					text-align: center;
					font-family: AlibabaPuHuiTi3;
					font-size: 24rpx;
					font-weight: 500;
					text-align: center;
					color: #ffffff;
					margin-top: 10rpx;
				}
			}
			.right_box {
				width: calc(100% - 196rpx);
				// height: 100%;
				padding: 24rpx;
				// background-color: red;
				.user_info {
					display: flex;
					align-items: center;
					.avatar {
						width: 48rpx;
						height: 48rpx;
					}
					.text {
						font-family: AlibabaPuHuiTi3;
						font-size: 32rpx;
						font-weight: 900;
						color: #333333;
						margin-left: 16rpx;
					}
				}
				.location,
				.identity {
					font-weight: 500;
					font-family: AlibabaPuHuiTi3;
					font-size: 24rpx;
					color: #999999;
				}
				.location {
					margin-top: 20rpx;
				}
				.identity {
					margin-top: 10rpx;
				}
				.icon_box {
					position: absolute;
					top: 0;
					right: 0;
					width: 112rpx;
					height: 112rpx;
					.icon {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
	.empty {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -45%);
		--td-empty-description-margin-top: 0;
	}
	.empty_image {
		width: 220rpx;
		height: 220rpx;
	}
	.authorization {
		position: fixed;
		bottom: env(safe-area-inset-bottom);
		width: calc(100% - 64rpx);
		height: 112rpx;
		margin: 0 32rpx;
		border-radius: 80rpx;
		background: linear-gradient(279deg, #FF8533 -1%, #F85700 100%);
		font-family: AlibabaPuHuiTi3;
		font-size: 32rpx;
		font-weight: bold;
		line-height: 112rpx;
		color: #ffffff;
	}
}

.qr_userInfo {
	--td-cell-horizontal-padding: 0;
	--td-cell-vertical-padding: 0;

	.tag_icon {
		width: 140rpx;
		height: 42rpx;
	}
}
.dialog_content {
	position: relative;
	.institution_box {
		border-radius: 10rpx;
		background: #FDF2ED;
		padding: 7rpx 20rpx;
		margin-top: 26rpx;
		.institution {
			font-family: AlibabaPuHuiTi3;
			font-size: 24rpx;
			font-weight: 400;
			color: #FF8533;
		}
	}
	.qr_image_box {
		width: 100%;
		// margin: 80rpx 0 30rpx 0;
		.title {
			font-family: AlibabaPuHuiTi3;
			font-size: 28rpx;
			font-weight: normal;
			color: #3d3d3d;
			margin: 32rpx 0;
		}
		.select_box {
			display: flex;
			align-items: center;
			.item {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 88rpx;
				height: 88rpx;
				background-color: #eff4fd;
				border: 1rpx solid #FF8533;
				border-radius: 20rpx;
				font-size: 24rpx;
				font-weight: normal;
				color: #3d3d3d;
			}
			.item:not(:last-child) {
				margin-right: 32rpx;
			}
			.item_active {
				color: #ffffff;
				background-color: #FCD5C4;
			}
		}
		.freeTimes {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 400rpx;
			margin: 40rpx 0;
			.icon {
				color: #4d5661;
			}
			.input {
				font-size: 28rpx;
				text-align: center;
			}
			.freeTimes_input {
				padding: 16rpx;
				border-radius: 20rpx;
				background-color: #FDF2ED;
				--td-input-bg-color: transparent !important;
			}
			.unit {
				margin-left: 16rpx;
			}
		}
	}

	.qr_code_text {
		font-family: AlibabaPuHuiTi3;
		font-size: 24rpx;
		font-weight: normal;
		text-align: left;
		color: #c5c8cb;
	}

	.tag_box {
		position: relative;
		width: 140rpx;
		height: 42rpx;
		margin-top: 8rpx;
		.tag_icon {
			width: 100%;
			height: 100%;
		}
		.tag_text {
			position: absolute;
			top: 50%;
			left: 33%;
			transform: translate(0%, -51%);
			font-family: AlibabaPuHuiTi3;
			font-size: 18rpx;
			font-weight: normal;
			color: #ffffff;
		}
	}
}
.save_invite {
	position: absolute;
	bottom: -112rpx + -32rpx;
	width: 100%;
	height: 112rpx;
	border-radius: 80rpx;
	font-family: AlibabaPuHuiTi3;
	font-size: 32rpx;
	font-weight: bold;
	line-height: 112rpx;
	text-align: center;
	color: #ffffff;
	background: linear-gradient(279deg, #FF8533 -1%, #F85700 100%);
}
