.team-list_container {
	width: 100vw;
	height: 100vh;
	background-color: #FAF8F8;
	flex: 1;
	display: flex;
	flex-direction: column;
	.title {
		font-family: AlibabaPuHuiTi3;
		font-size: 32rpx;
		font-weight: 300;
		color: #1c2023;
		background-color: #ffffff;
		padding: 20rpx 24rpx;
	}
	.scroll-view {
		flex: 1;
		min-height: 0;
		padding-bottom: env(safe-area-inset-bottom);
		.item_img {
			width: 180rpx;
			height: 180rpx;
		}
		.cell_title {
			font-family: AlibabaPuHuiTi3;
			font-size: 32rpx;
			font-weight: 300;
			color: #1c2023;
		}
		.description {
			font-family: AlibabaPuHuiTi3;
			font-size: 24rpx;
			font-weight: normal;
			color: #606972;
		}
	}
}

.empty-bottom {
	--td-empty-description-margin-top: 0;
	--td-empty-description-font-size: 24rpx;
	padding-top: 40rpx;
}
.empty_image {
	width: 40rpx;
	height: 48rpx;
}